<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="storeDBConnectionString" value="Data Source=MNS1-022N\WINCC;Initial Catalog=AMRnMEO;Persist Security Info=True;User ID=scada;Password=qazwsx" />-->
    <add key="storeDBConnectionString" value="Data Source=MNS1-022N\WINCC;Initial Catalog=AMRnMEO;Persist Security Info=True;User ID=scada;Password=qazwsx" />
    <add key="authDBConnectionString" value="Password=qazwsx;Persist Security Info=True;User ID=scada;Initial Catalog=ASPU;Data Source=WINCC-MNS1-022N\SQLEXPRESS" />
  </appSettings>
  <!-- Начало вставки-->
  <connectionStrings>
    <!--<add name="SqlServices_Users" connectionString="Password=qazwsx;Persist Security Info=True;User ID=scada;Initial Catalog=ASPU;Data Source=MNS1-022N\SQLEXPRESS" />-->
    <remove name="LocalSqlServer" />
    <!--<add name="LocalSqlServer" connectionString="Password=qazwsx;Persist Security Info=True;User ID=scada;Initial Catalog=ASPU;Data Source=MNS1-022N\SQLEXPRESS" providerName="System.Data.SqlClient" />-->
    <add name="LocalSqlServer" connectionString="Password=qazwsx;Persist Security Info=True;User ID=scada;Initial Catalog=ASPU;Data Source=MNS1-022N\SQLEXPRESS" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <!--<authentication mode="Forms">
      <forms cookieless="UseCookies"/>
    </authentication>-->
    <!--<roleManager defaultProvider="SqlRoleProvider"
      enabled="true"
      cacheRolesInCookie="true"
      cookieName=".ASPROLES"
      cookieTimeout="30"
      cookiePath="/"
      cookieRequireSSL="false"
      cookieSlidingExpiration="true"
      cookieProtection="All" >
      <providers>
        <clear />
        <add name="SqlRoleProvider"
             connectionStringName="SqlServices_Users"
             applicationName="SITBUsiness.Web"
             type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear />
        <add name="SqlMembershipProvider"
             connectionStringName="SqlServices_Users" applicationName="SITBUsiness.Web"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             passwordAttemptWindow="10"
             minRequiredPasswordLength="1"
             type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>

    <profile defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlServices" applicationName="SITBUsiness.Web" description="SqlProfileProvider for SITBUsiness.Web"/>
      </providers>
      <properties>
        <add name="pr_1" type="System.String"/>
        <add name="pr_2" type="System.String"/>
      </properties>
    </profile>-->
    <!--Конец вставки-->
    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms name=".SITBusiness_ASPXAUTH" />
    </authentication>
    <profile>
      <properties>
        <add name="FriendlyName" />
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SITBusiness.Web.WService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="SITBusiness.Web.WService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SITBusiness.Web.WService.customBinding0" contract="SITBusiness.Web.WService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>