<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifyServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotifyServer.Properties.Settings>
            <setting name="localNotifyPort" serializeAs="String">
                <value>7979</value>
            </setting>
            <setting name="remoteClientPort" serializeAs="String">
                <value>7878</value>
            </setting>
            <setting name="serverAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </NotifyServer.Properties.Settings>
    </userSettings>
</configuration>